* {
  font-family: "JetBrains Mono Nerdfont";
  font-size: 16px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  padding-top: 20rem;
  background-color: @crust;
  /* BUG: See https://github.com/Alexays/Waybar/issues/3869  */
  /* opacity: 0.8; */
  color: @overlay0;
  transition-property: background-color;
  transition-duration: 0.1s;
  border-bottom: 1px solid @overlay1;
}

#window {
  margin: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

button:hover {
  background: inherit;
  color: @mauve;
  border-bottom: 2px solid;
}

label.module {
  padding: 0 4px;
  margin: 2px 4px;
}

.modules-right :nth-child(even) label.module {
  color: @blue;
}

.modules-right :nth-child(odd) label.module {
  color: @mauve;
}
