* {
  font-family: "JetBrains Mono Nerdfont";
  font-size: 16px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: transparent;
  background-color: @crust;
  color: @overlay0;
  transition-property: background-color;
  transition-duration: 0.1s;
  border-bottom: 1px solid @overlay1;
}

#window {
  margin: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0px;
}

button:hover {
  background: inherit;
  color: @mauve;
  border-bottom: 2px solid @mauve;
}

label.module {
  padding: 0 4px;
  margin: 2px 2px;
}

.modules-right :nth-child(even) label.module {
  color: @blue;
  border-color: @blue;
}

.modules-right :nth-child(odd) label.module {
  color: @mauve;
  border-color: @mauve;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0px;
}
