* {
  font-family: "JetBrains Mono Nerdfont";
  font-size: 16px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  /* background-color: @crust; */
  /* BUG: See https://github.com/Alexays/Waybar/issues/3869  */
  opacity: 0.8;
}
window#waybar > box {
  margin: 0.5rem 1rem 0 1rem;

  background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.1s;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 1px @surface1;
  padding: 0.5rem;
}

button:hover {
  color: @mauve;
  border-bottom: 2px solid;
}

label.module {
  padding: 2px 4px;
  margin: 2px 4px;
}

.modules-right :nth-child(even) label.module {
  color: @blue;
}

.modules-right :nth-child(odd) label.module {
  color: @mauve;
}
