* {
  font-family: "JetBrains Mono Nerdfont";
  font-size: 16px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  /* background-color: @crust; */
  /* BUG: See https://github.com/Alexays/Waybar/issues/3869  */
  opacity: 0.8;
}

window#waybar > box {
  padding: 1rem 1rem 0;
}

button:hover {
  color: @mauve;
  border-bottom: 2px solid;
}

label.module {
  padding: 2px 4px;
  margin: 0 0.5rem;
}

tooltip {
  background: @mantle;
  color: @text;
}

tooltip > box {
  padding: 1rem;
}

tooltip label {
  color: @text;
}

label.module {
  border-bottom: 2px solid;
}

.modules-left :nth-child(odd) label.module,
.modules-center :nth-child(odd) label.module,
.modules-right :nth-child(odd) label.module {
  color: @blue;
}

.modules-left :nth-child(odd) label.module,
.modules-center :nth-child(even) label.module,
.modules-right :nth-child(even) label.module {
  color: @mauve;
}

/* #left, */
#center,
#right {
  background-color: @base;
  color: @overlay0;
  border-radius: 100rem;
  box-shadow: inset 0 0 0 1px @surface1;
  padding: 0.5rem 1rem;
}
