* {
  font-family: "JetBrains Mono Nerdfont";
  font-size: 16px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: transparent;
  background-color: @crust;
  color: @overlay0;
  transition-property: background-color;
  transition-duration: 0.1s;
  border-bottom: 1px solid @overlay1;
}

#window {
  margin: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0px;
}

button:hover {
  background: inherit;
  color: @mauve;
  border-bottom: 2px solid @mauve;
}

#workspaces button {
  padding: 0px 4px;
  margin: 2px 4px;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  color: @rosewater;
  border-bottom: 2px solid @rosewater;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: @mauve;
  border-bottom: 2px solid @mauve;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#custom-poweroff,
#custom-logout,
#custom-lock,
#custom-reboot {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#custom-poweroff,
#custom-logout,
#custom-lock,
#custom-reboot {
  color: @lavender;
}

#clock {
  color: @maroon;
  border-bottom: 2px solid @maroon;
}

#clock.date {
  color: @text;
  border: none;
}

#pulseaudio {
  color: @blue;
  border-bottom: 2px solid @blue;
}

#pulseaudio.muted {
  color: @overlay0;
  border-color: @overlay0;
}

#network {
  color: @yellow;
  border-bottom: 2px solid @yellow;
}

#idle_inhibitor {
  margin-right: 12px;
  color: #7cb342;
}

#idle_inhibitor.activated {
  color: @red;
}

#battery {
  color: @mauve;
  border-bottom: 2px solid @mauve;
}

#battery.charging {
  color: @green;
  border-bottom: 2px solid @green;
}

#battery.discharging.warning {
  color: @yellow;
  border-bottom: 2px solid @yellow;
}
#battery.discharging.critical {
  color: @red;
  border-bottom: 2px solid @red;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0px;
}
